<div class="example-container" fxLayout="column" fxFlex="100%" [class.example-is-mobile]="mobileQuery.matches">
  <div fxLayout="column">
    <mat-toolbar class="example-toolbar" style="height: 65px;">
      <button mat-icon-button (click)="snav.toggle()" fxLayout="column">
        <mat-icon>menu</mat-icon>
      </button>
      <div fxLayoutAlign="center center" class="keep">
        <img class="keep" src="/assets/Image/keep.png">
      </div>
      <h1 class="example-app-name">{{title}}</h1>
      <div class="search" fxLayoutAlign="start center" fxFlex="60%" fxHide.xs="true">
        <mat-form-field [style.fontSize.px]="12" appearance=none class="searchInput">
          <mat-icon matPrefix style="margin-left: 10px;">search</mat-icon>
          <input matInput type="text" #val placeholder="search" style="font-size: 18px;">
        </mat-form-field>
      </div>
      <div class="spacer"></div>
      <div class="icon" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <mat-icon fxLayoutAlign="center center">refresh</mat-icon>
        </div>
        <button mat-icon-button style="margin-left: 10px; outline: none;">
          <img src={{this.src}} class={{viewClass}} (click)=changeView(this.src) matTooltip={{this.viewToolTip}}>
        </button>
        <div>
          <mat-icon fxLayoutAlign="end center">settings</mat-icon>
        </div>
        <button class="buttonAvtar" mat-icon-button [matMenuTriggerFor]="beforeMenu">
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div class="mat-menu-div" fxLayoutAlign="center center" style="width: 250px; height: 200px;">
              <div>
                <div fxLayoutAlign="center center">
                  <img mat-card-avatar src={{userProfilePic}} class="avtar-in-menu" (click)="file.click(file)"
                    matTooltip="Change Profile Picture">
                  <input type="file" #file style="display:none;" name="file"
                    (change)="changeProfilePicture(file.files)">
                </div>
                <div style="text-align: center;">
                  <p>{{this.userName}}</p>
                  <p>{{this.userEmail}}</p>
                  <button mat-raised-button (click)=logout()>Logout</button>
                </div>
              </div>
            </div>
          </mat-menu>
          <img mat-card-avatar src={{userProfilePic}} class="imageAvtar">
        </button>
      </div>
    </mat-toolbar>
  </div>
  <mat-divider></mat-divider>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item class="card1" disableRipple="true" [class.isActive]="Active=='Notes'" (click)="navigateNotes()"
          (click)="navigate('Notes')">
          <mat-icon matListIcon>lightbulb_outline</mat-icon>
          <span matLine>Notes</span>
        </mat-list-item>
        <mat-list-item class="card1" disableRipple="true" [class.isActive]="Active=='remainders'"
          (click)="navigateRemainder()" (click)="navigate('remainders')">
          <mat-icon matListIcon>notifications_none</mat-icon>
          <span matLine>Reminders</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-label class="label" fxLayout="row" fxLayoutAlign="start center">LABELS</mat-label>
        <mat-list-item class="card1" *ngFor="let data of labels" disableRipple="true"
          [class.isActive]="Active=='data.labelName'" (click)="navigate(data.labelName)">
          <mat-icon matListIcon>label_outline</mat-icon>
          <span matLine (click)="navigatenotebylabel(data.labelID)">{{data.labelName}}</span>
        </mat-list-item>
        <mat-list-item class="card1" click="UpdateNote()" disableRipple="true" [class.isActive]="Active=='labels'"
          (click)="navigate('labels')">
          <mat-icon matListIcon>editoutlinedicon</mat-icon>
          <span matLine (click)="OpenDialog()">Edit Labels</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="card1" disableRipple="true" [class.isActive]="Active=='archive'"
          (click)="navigateArchive()" (click)="navigate('archive')">
          <mat-icon matListIcon>archive</mat-icon>
          <span matLine>Archive</span>
        </mat-list-item>
        <mat-list-item class="card1" disableRipple="true" [class.isActive]="Active=='delete'" (click)="navigateTrash()"
          (click)="navigate('delete')">
          <mat-icon matListIcon>delete</mat-icon>
          <span matLine>Trash</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>