<div style="width: 70%; height: 100%;">
  <div style="padding-bottom: 10px;"fxLayout="row wrap" >
    <mat-form-field appearance="none">
      <input matInput [(ngModel)]="data.title" placeholder="Title">
    </mat-form-field>
  </div>
  <mat-form-field  appearance="none">
    <input matInput [(ngModel)]="data.description" placeholder="Description">
  </mat-form-field>
  <div>
      <app-icon></app-icon>
  </div>
  <hr flex/>
    <button mat-button  matTooltip="updateNote" (click)="updateNote()">Ok</button>
</div>