<div fxFlexAlign="stretch"  flex-wrap: wrap fxLayout="row" fxLayoutGap="10px">
  <form>   
    <div>
      <div class="header" fxLayout="row">
        <input matInput placeholder="Title" >
      </div>
      <br>
      <div class="header" appearance="none" fxLayout="row">
        <input matInput placeholder="Take a note...">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <app-icon style="margin-top: 25px;margin-bottom: 0px;"></app-icon>
      <button mat-button [mat-dialog-close]="true" style="margin-top: auto;">Close</button>
    </div>  
  </form>
</div>