.blue{
    color: rgb(55, 0, 255);
};
.red{
    color: red;
};
.gold{
    color:rgb(255, 187, 0);
};
.green{
    color:rgb(14, 85, 31);
};
.container
{
    text-align: center;
    margin-top: 5%; 
    font-size: 40px;
}
.form-group
{
    font-size: 14px;
}
.logo {
    height: 120px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}