<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" display=flex>
  <mat-card class="card" fxFlexAlign="stretch" fxFlex="40%" flex-wrap: wrap [style.background-color]='color'>
    <div *ngIf="!status" (click)="status=!status" style="margin: 0px; padding: 0px; height: 15px;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="header" appearance="none">
            <p>
              Take a note...
            </p>
          </div>
          <div fxLayoutAlign="space-around center" display="flex">
            <div class="example-button-row1">
              <button mat-icon-button>
                <mat-icon aria-label="Example icon button">check_box</mat-icon>
              </button>
            </div>
            <div class="example-button-row5">
              <button mat-icon-button>
                <mat-icon aria-label="Example icon button">brush</mat-icon>
              </button>
            </div>
            <div class="example-button-row2">
              <button mat-icon-button>
                <mat-icon aria-label="Example icon button">insert_photo</mat-icon>
              </button>
            </div>
          </div>
        </div>
    </div>
    <div *ngIf="status">
      <form [formGroup]="notes" >
        <div>
          <div class="header" fxLayout="row" appearance="none">
            <input matInput placeholder="Title" formControlName="title">
          </div>
          <br>
          <div class="header" fxLayout="row" appearance="none">
            <input matInput placeholder="Take a note..." formControlName="description">
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <app-icon (ColorEvent)="Colorchange($event)"></app-icon>

          <button mat-button (click)="createNote()" >Close</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>