.Icon{
    border-radius: 50%;
    border: 1x solid grey;
    padding:10px;
    
}
.collab{
    margin: 0px;
    padding: 0px;
    
}
.imageAvtar{
    height: 30px; 
    width: 30px;
    outline: none;
    border-radius: 50%;
}