//  .displaycard{
// //     padding: 50px;
// //     width: 74%;
//    //  margin-top: 10%;
//  }
.my-dialog
{
  .mat-dialog-container {
		padding: 0;
		background: none;           
 } 
}

.card{
    margin: 10px;
    width: 220px;
    max-width:220px !important;
    flex: unset !important;
    border-radius: 10px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px 0px 0px 0px;
    min-width: 200px;
}
.card:hover{
    box-shadow: 0px 2px 3px 0 gray;
    transform: translateY(-2px);
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
p{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10em;
  word-break: break-all;
}
.Icon{
  visibility: hidden;
  opacity: 0;
}
.card:hover .Icon {
  visibility: visible;
  opacity: 1;
}
mat-chip{
  font-size: 12px;
}
mat-mini-fab{
  size: 6px;
}
.mat-mini-fab .mat-button-wrapper {
  padding: 0px 0;
}
.clear{
  size: 0px;
}
.Gridlist{
  width: 80%;
  height: auto;
  flex-direction: column;
}
.GridView{
  width: 70%;
  margin-left: 24%;
}
.select{
 
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-10px,-10px);
  z-index: 1;
  display: none;
  cursor: pointer;
}
.card:hover .select{
  display: block;
}