//  .displaycard{
// //     padding: 50px;
// //     width: 74%;
//    //  margin-top: 10%;
//  }
.card{
    margin: 10px;
    width: 220px;
    max-width:220px !important;
    flex: unset !important;
}
.card:hover{
    box-shadow: 0px 10px 5px 0 gray;
    transform: translateY(-10px);
    transition: box-shadow 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}
p{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10em;
  word-break: break-all;
}
.Icon{
  visibility: hidden;
  opacity: 0;
}
.card:hover .Icon {
  visibility: visible;
  opacity: 1;
}