<div class="displaycard" fxFlex=100 fxLayout="row wrap" style="margin-bottom: 10px;">
  <mat-card class="card" *ngFor="let notes of notes" fxFlex.xs="100" fxLayoutAlign="start center" fxFlex=30>
    <form>
      <div class="header" (click)="openDialog()" appearance="none">
        <p>{{notes.title}}</p>
      </div>
      <br>
      <div class="header" (click)="openDialog()" appearance="none">
        <p>{{notes.description}}</p>
      </div>
      <div>
        <app-icon [isTrash]="isTrash" (NoteTrashEvent)="noteTrashed()" (DeleteNoteEvent)="deleteNote()" (NoteArchiveEvent)="noteArchive()"
          [isArchive]="isArchive" [note]="notes"></app-icon>
      </div>
    </form>
  </mat-card>
</div>