<div fxLayout="row" *ngIf="!isTrash" fxLayoutAlign="space-around center" display="flex" fxFlex.gt-sm="100%"
    fxFlex="100%">
  
    <div class="example-button-row1" >
      
        <button mat-icon-button>

            <mat-icon aria-label="Example icon button">add_alert_outline</mat-icon>
        </button>
    </div>
    <div class="example-button-row5">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">person_add</mat-icon>
        </button>
    </div>
    <div class="example-button-row2">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">color_lens</mat-icon>
        </button>
    </div>
    <div class="example-button-row3">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">archive</mat-icon>
        </button>
    </div>
    <div class="example-button-row4">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button"> insert_photo</mat-icon>
        </button>
    </div>

    <div class="example-button-row6">
        <button mat-icon-button [matMenuTriggerFor]="belowMenu">
            <mat-icon aria-label="Example icon button">more_vert</mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item  (click)="TrashNote()">Delete Note</button>
                <button mat-menu-item>Add label</button>
            </mat-menu>

        </button>
    </div>
</div>
<div fxLayout="row" *ngIf="isTrash" fxLayoutAlign="space-around center" display="flex" fxFlex.gt-sm="100%"
    fxFlex="100%">
    <div class="example-button-row1">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">delete_forever</mat-icon>
        </button>
    </div>
    <div class="example-button-row5">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">restore_from_trash</mat-icon>
        </button>
    </div>
</div>