<div fxLayout="row" fxLayoutAlign="space-around center" display="flex"  fxFlex.gt-sm="100%" fxFlex="100%">
    <div class="example-button-row1">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">add_alert_outline</mat-icon>
        </button>
    </div>
    <div class="example-button-row5">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">person_add</mat-icon>
        </button>
    </div>
    <div class="example-button-row2">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">color_lens</mat-icon>
        </button>
    </div>
    <div class="example-button-row3">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">archive</mat-icon>
        </button>
    </div>
    <div class="example-button-row4">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button"> insert_photo</mat-icon>
        </button>
    </div>
   
    <div class="example-button-row6">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button">more_vert</mat-icon>
        </button>
    </div>

</div>