<div fxLayout="row" fxLayoutGap='12%' fxLayoutGap.xs=auto fxFlex=100 *ngIf="!isTrash">
    <div fxFlex=14>
        <img src="../../../assets/Image/Reminder.svg"/>
    </div>
    <div fxFlex=14>
        <img src="../../../assets/Image/Collaborator.svg" (click)="openDialog()" />

    </div>
    <div class="Colorchange" fxFlex=14>
        <mat-icon mat-button [matMenuTriggerFor]="colorPicker">
            <img src="../../../assets/Image/color.svg" />
        </mat-icon>
        <mat-menu #colorPicker="matMenu"  yPosition="above" fxLayoutAlign="center center">
            <div fxLayoutGap=4px class="colormenu" style="width: 160px;">
                <button mat-mini-fab *ngFor="let colors of color" [style.backgroundColor]='colors'
                    (click)="ChangeColor(colors)">
                </button>
            </div>
        </mat-menu>
    </div>

    <div fxFlex=14 *ngIf="isArchive">
        <mat-icon aria-label="Example icon button" matTooltip="Unrchive" (click)="ArchiveNote()">unarchive
        </mat-icon>
    </div>
    <div fxFlex=14 *ngIf="!isArchive">
        <img src="../../../assets/Image/Archive.svg" (click)="ArchiveNote()" />
    </div>
    <div fxFlex=14>
        <img src="../../../assets/Image/Insertphoto.svg" />
    </div>
    <div fxFlex=14 class="example-button-row">
        <mat-icon mat-icon-button [matMenuTriggerFor]="belowMenu">
            <mat-icon matTooltip="More" aria-label="Example icon button">more_vert</mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="TrashNote()">Delete Note</button>
                <button mat-menu-item>Add label</button>
            </mat-menu>
        </mat-icon>
    </div>
</div>
<div fxFlex=14 fxLayout="row" *ngIf="isTrash" fxLayoutAlign="space-around center" display="flex" fxFlex.gt-sm="100"
    fxFlex="100">
    <div class="example-button-row">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button" (click)="DeleteNote()">delete_forever</mat-icon>
        </button>`
    </div>
    <div class="example-button-row">
        <button mat-icon-button>
            <mat-icon aria-label="Example icon button" (click)="TrashNote()">restore_from_trash</mat-icon>
        </button>
    </div>
</div>