<div>
  <h1 mat-dialog-title>Edit Label</h1>
  <div fxLayout="row">
    <div>
      <mat-icon class="hide">add</mat-icon>
    </div>
    <div>
      <input matInput placeholder="Create new label" [(ngModel)]="labelName">
    </div>
     <!-- // <mat-icon>check</mat-icon> -->
  </div>
  <div class="label" *ngFor="let items of getallLabels" style="font-family: Roboto,Arial,sans-serif;">
    <div fxLayout="row">   
    <mat-icon class="hide" matListIcon (click)="DeleteLabel(items.labelID)">delete</mat-icon>  
    <mat-icon class="show" matListIcon>label</mat-icon>
      <input matInput [(ngModel)]="items.labelName">
    <mat-icon  matListIcon (click)="UpdateLabel(items.labelID)">editoutlinedicon</mat-icon>
  </div> 
  </div>
<mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button (click)="createLabel()" (click)="onNoClick()">Done</button>
  </div>
</div>