/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.Collaborate
{
    mat-dialog-container{
    padding: 0px;
    overflow: hidden;
    border-radius: 10px;
    background-color: red;
}
}
   