<div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" display=flex>
    <mat-card fxFlexAlign="stretch" fxFlex="30%" flex-wrap: wrap fxFlex.xs="100%">
        <div fxLayout="column">
            <mat-card-title fxLayoutAlign='center center'>
                <span class="blue">F</span>
                <span class="red">u</span>
                <span class="orange">n</span>
                <span class="blue">d</span>
                <span class="green">o</span>
                <span class="red">o</span>
            </mat-card-title>
            <mat-card-content fxLayoutAlign='center center' style="font-size: 22px">Fundoo account recovery
            </mat-card-content>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="logo">
            <img class="logo" src="/assets/Image/user.jpg">
        </div>
        <div>
            <form [formGroup]="forgetForm" fxLayout="column" fxLayoutgap="3%">
                <div>
                    <mat-form-field style="font-size: 14px; width: 70%;" appearance="outline" fxFlex=100>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" class="form-control" placeholder="Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors}" required />
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="forgetForm.hasError('required', ['email'])">
                            Please enter your new email
                        </mat-error>
                        <mat-error *ngIf="forgetForm.hasError('pattern', ['email'])">
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="30%"
                    ng-reflect-fx-layout.xs="column" display="box">
                    <button mat-flat-button (click)=gotoLogin()>Back to sign in</button>
                    <button mat-button (click)=forget()>Next</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>